p{
    font-size:large;
    font-family: 'Times New Roman', Times, serif;
}
nav{
    border: dashed;
    
}
a{
    margin-right: 10px;
}
body{
    background-color: bisque;
}
.tborder{
    border: 1px solid;
}
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  h1{
    text-decoration: underline;
    text-align: center;
  }
  